<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Carrito - 8BitStore</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="stylesheet" th:href="@{/css/carrito.css}" />
    </head>
    <body>

        <nav class="navegacion">
            <ul class="menu">
                <li><a th:href="@{/index}">Inicio</a></li>
                <li><a th:href="@{/carrito}">Carrito</a></li>
                <li><a th:href="@{/consolas}">Consolas</a></li>
                <li><a th:href="@{/lanzamientos}">Lanzamientos</a></li>
                <li><a th:href="@{/resenas}">Reseñas</a></li>
                <li><a th:href="@{/sobre-nosotros}">Sobre nosotros</a></li>
                <li><a th:href="@{/login}">Iniciar sesión</a></li>
            </ul>
        </nav>

        <div style="text-align: center;">
            <h1 class="titulo">Carrito de Compras</h1>
        </div>


        <div class="contenedor-carrito">
            <div class="producto" th:each="prod : ${productos}">
                <img th:src="@{${prod.imagenUrl}}" alt="Producto">
                <h3 th:text="${prod.nombre}">Nombre del producto</h3>
                <p th:text="'Precio: $' + ${prod.precio}">Precio</p>
                <form th:action="@{/carrito/eliminar}" method="post">
                    <input type="hidden" name="id" th:value="${prod.id}" />
                    <button class="boton-eliminar" type="submit">
                        <i class="fas fa-trash"></i> Eliminar del carrito
                    </button>
                </form>
            </div>
        </div>

        <footer class="pie">
            <div class="redes">
                <p>Visit us on Facebook</p>
                <p>Visit us on Instagram</p>
                <p>Visit us on TikTok</p>
            </div>
            <div class="copyright">
                <p>© 2025 8BitStore</p>
            </div>
        </footer>

    </body>
</html>
